<mat-accordion class="headers-align">

  <div [formGroup]="animeFormBuilder">

    <!--FIRST PANEL-->
    <mat-expansion-panel [expanded]="step === 0" 
                          (opened)="setStep(0)" 
                          hideToggle 
                          class="expansion-panel">
  
      <!--PANEL TITLE-->
      <mat-expansion-panel-header>
        <mat-panel-title>
          Dados do Anime
        </mat-panel-title>
        <mat-panel-description>
          <mat-icon>description</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>


      <!--DIV FIRST PANEL ITEMS-->
      <div class="div-items">
        
        <!--ANIME NAME-->
        <mat-form-field appearance="fill" class="anime-name" >
          <mat-label>Anime:</mat-label>
          <input matInput formControlName="name">
        </mat-form-field>
  
        <!--SEASON-->
        <mat-form-field appearance="fill" class="season input">
          <mat-label>Season</mat-label>
          <mat-select disableRipple formControlName="season">
            <mat-option *ngFor="let season of seasons" value="{{season}}">
              {{season}}
            </mat-option>
          </mat-select>
        </mat-form-field>
  
        <!--STUDIO-->
        <mat-form-field appearance="fill" class="studio">
          <mat-label>Studio</mat-label>
          <mat-select disableRipple formControlName="studio">
            <mat-option *ngFor="let studio of studios" value="{{studio}}">
              {{studio}}
            </mat-option>
          </mat-select>
        </mat-form-field>
  
        <!--NUMBER OF EPISODES-->
        <mat-form-field appearance="fill" [color]="colorControl.value">
          <mat-label>Número de Episódios</mat-label>
          <input matInput type="number" 
                 placeholder="" 
                 [formControl]="fontSizeControl" 
                 min="1"
                 formControlName="episodes">
          <span matSuffix>episódios.</span>
        </mat-form-field>
        
        <!--SCORE-->
        <mat-form-field appearance="fill" [color]="colorControl.value">
          <mat-label>Score</mat-label>
          <input matInput type="number" 
            placeholder="" 
            [formControl]="fontSizeControl" 
            min="0"
            max="10"
            step=".01"
          formControlName="score">
          <!-- <span matSuffix>Rating.</span> -->
        </mat-form-field>
      </div>



  
      <!--NEXT-->
      <mat-action-row>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>
  
    <!--SECOND PANEL-->
    <mat-expansion-panel [expanded]="step === 1" 
                         (opened)="setStep(1)" 
                         hideToggle>
      <!--PANEL TITLE-->
      <mat-expansion-panel-header>
        <mat-panel-title>
          Transmissão
        </mat-panel-title>
        <mat-panel-description>
          <mat-icon>calendar_today</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      <!--PLATFORM AIRED-->
      <mat-form-field appearance="fill" class="platform">
        <mat-label>Plataforma de Transmissão</mat-label>
        <mat-select disableRipple formControlName="platform">
          <mat-option *ngFor="let platform of platforms" value="{{platform}}">
            {{platform}}
          </mat-option>
        </mat-select>
      </mat-form-field>
  
      <!--TIME COURSE-->
      <mat-form-field appearance="fill">
        <mat-label>Período de Lançamento</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate placeholder="Início" 
                  formControlName="startDate">
          <input matEndDate placeholder="Fim" 
                  formControlName="endDate">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
  
      <!--BROADCAST DAY-->
      <mat-form-field appearance="fill" class="day-broadcast">
        <mat-label>Dia da Semana</mat-label>
        <mat-select formControlName="broadcast_day">
          <mat-option *ngFor="let day of days" value="{{day}}">
            {{day}}
          </mat-option>
        </mat-select>
      </mat-form-field>
  
      <!--BROADCAST HOUR-->
      <mat-form-field appearance="fill" class="time-broadcast">
        <mat-label>Horário</mat-label>
        <input matInput type="time" placeholder="Horário" formControlName="hour">
        <span matSuffix>JST.</span>
      </mat-form-field>
  
      <!--DURATION-->
      <mat-form-field appearance="fill" [color]="colorControl.value">
        <mat-label>Duração</mat-label>
        <input matInput type="number" placeholder="duration" 
               [formControl]="fontSizeControl" 
               min="1"
               formControlName="duration">
        <span matSuffix>minutos.</span>
      </mat-form-field>
  
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>
  
    <!--THIRD PANEL-->
    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Gêneros
        </mat-panel-title>
        <mat-panel-description>
          <mat-icon>date_range</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      <SBK-genre-material-chips></SBK-genre-material-chips>
      
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>
  
    <!--FORTH PANEL-->
    <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Sinopse
        </mat-panel-title>
        <mat-panel-description>
          <mat-icon>date_range</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      
      <mat-form-field appearance="fill" class="sinopse-textarea">
        <mat-label>Sinopse</mat-label>
        <textarea matInput  formControlName="synopsis"></textarea>
      </mat-form-field>
  
  
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>
  
    <!--FIFTH PANEL-->
    <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Imagens
        </mat-panel-title>
        <mat-panel-description>
          <mat-icon>date_range</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="input-flex">
        <mat-form-field appearance="fill" class="mat-input">
          <mat-label>Cover Image:</mat-label>
          <input matInput formControlName="imagePath">
          <span matSuffix>.jpg</span>
        </mat-form-field>
  
        <!-- <mat-form-field appearance="fill" class="mat-input">
          <mat-label>Card Image:</mat-label>
          <input matInput formControlName="cardPhoto" value="coverPhoto">
          <span matSuffix>.jpg</span>

        </mat-form-field>
  
        <mat-form-field appearance="fill" class="mat-input">
          <mat-label>Profile Image:</mat-label>
          <input matInput formControlName="profilePhoto" value="coverPhoto">
          <span matSuffix>.jpg</span>

        </mat-form-field> -->

      </div>

      <!-- <div class="div-raised-button">

        <label>Profile</label>
        <input type="file" placeholder="profile"
        (change)="uploadProfilePhoto($event, animeForm)">
        
        <label>Card</label>
        {{imageError}}
        <input type="file"  placeholder="card"
               (change)="uploadCardPhoto($event, animeForm)">

        <label>Cover</label>
        <input type="file"  placeholder="cover"
               (change)="uploadCoverPhoto($event, animeForm)">

      </div>
   -->
  
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-raised-button class="submit" (click)="OnSubmit()">Submit</button>
      </mat-action-row>
    </mat-expansion-panel>
  </div>


</mat-accordion>

