.footer {
    // color:lightslategrey;
    // font-family: "Asap","Droid Sans","DejaVu Sans",sans-serif;
    margin:0;
    border-top: solid 3px green;
    background-color: lightgray;
    align-items: baseline;
    padding: 50px;
}

