<form class="mat-form" [formGroup]="signInForm">
    <h1 class="mat-title" mat-dialog-title>Login</h1>

      <div mat-dialog-content>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Username</mat-label>
          <input type="name" matInput formControlName="username" placeholder="username123">
        </mat-form-field>
        <!-- <div *ngIf="signInForm.controls.username.errors">
          <div *ngIf="signForm.controls.username.errors.required">
            Username Obrigatório
          </div>
        </div> -->

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Senha</mat-label>
          <input type="password" formControlName="password" matInput  placeholder="******">
        </mat-form-field>
<!--         <div *ngIf="signInForm.controls.password.errors">
          <div *ngIf="signForm.controls.password.errors.required">
            Senha Obrigatória
          </div>
        </div> -->
      </div>
 
      <div mat-dialog-actions class="mat-button">
        <button mat-raised-button  color="primary" (click)="onSubmit()" >LogIn</button>
        <button mat-button color="warn" (click)="closeModal()">Fechar</button>
      </div>
 
</form>
<!--  [disabled]="!signForm.valid"  -->
