.body-table{
    margin: 2% 0;
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    background-color: lightgray;
    height: fit-content;
}

th.mat-header-cell:first-of-type{
    padding: 12px;
}

td.mat-cell:first-of-type{
    padding: 0;
}

th.mat-header-cell{
    text-align: center;
}


th{
    background-color: #2ead23;
    color: white;
    font-weight: bold;
    font-size: 1em;
}

.table, .paginator {
    width: 50vw;
    min-width: 250px;
    box-sizing: border-box;
}

.td-rank{
    font-size: 2.5em;
    color: #2ead23;
    font-weight: bold;
}

.div-rank{
    padding: 10%;
    text-align: center;
}

.title{
    display: flex;
}

.div-title{
    padding: 2%;
}

.div-title span{
    display: block;
}

.div-title span:nth-child(1){
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
    color: #2ead23;
}

.div-title span:nth-child(2), span:nth-child(3), .div-score{
    color: gray;
    font-style: italic;
}

.div-score{
    margin: 0 3vw;
    font-weight: bold;
}

.button{
    background-color: #2ead23;
    color: white;
}

.img{
    height: 12vh;
    min-width: 4vw;
}


@media(max-width: 1334px){
    .div-title span:nth-child(2){
        display: none;
    }

    .div-title span:nth-child(3){
        display: none;
    }

}

@media(max-width: 500px){
    .button, .th-status, .td-status{
        display: none;
    }
}

@media(max-width: 300px){
    .button, .th-status, .td-status, .div-title{
        display: none;
    }
    .img{
        height: 240px;
        max-width: 150px;
    }
    
}

