table {
    width: 50vw;
    
}

th{
    text-align: center;
}

.img{
    height: 12vh;
    width: 4vw;
}

.div-table{
    display: flex;
    justify-content: center;
    background-color: lightgray;
}