<div class="general-header" >
    <img src="{{background}}" class="background">
    <header class="header-menu">
        <section class="menu">
            <picture>
                <a routerLink="['/']">
                    <img src="{{logo}}" class="logo">
                </a>    
            </picture>
            <div class="class-nav">
                <ul>
                    <!-- <li *ngFor="let item of headerMenu">
                        <a>{{item}}</a>
                    </li> -->
                    <li routerLink="/anime-ranking">Anime Ranking</li>
                    <li>Seasonal Anime</li>
                    <li>Discord</li>
                    <li>Help</li>
                </ul>
            </div>
            <aside class="sign">
                    <mat-form-field class="mat-field">
                        <mat-label>Buscar</mat-label>
                        <input matInput class="search" type="text" autocomplete="off">

                    </mat-form-field>
                    <div>
                        <a (click)="openDialogSignIn()">Sign In</a>
                        <a  (click)="openDialogSignUp()">Sign Up</a>
                    </div>
            </aside>
        </section>
    </header>
    <span class="anime-name">
        <a>CODE GEASS - HANGYAKY NO LELOUCH </a>
    </span>
   
  
</div>

<!-- style="background-image:url('{{background}}');" -->