*{
    box-sizing: border-box;
}
//CONFIGS DO HEADER 
.general-header {
    position: relative;
    width: 100vw;
    font-weight: 900;
}

//CONFIGS DO BACKGROUND DO HEADER
.cover {
    width: 100vw;
    // z-index: -1;
    // background-size: cover;
}

.header-menu{
    //DIV SETTINGS
    position: absolute;

    top: 0;
    background-image: linear-gradient(#66b360, transparent);

    width: 100vw;
    padding: 0 5%;

    //FONT SETTINGS
    color: #FFF;
    text-shadow: #444 1px 1px 0;

}
.logo{
    width: 5vw;
}

/*CSS FOR PAGE HEADER*/
.menu {
    display: flex;
    flex-flow: row;
    align-items: center; // y axis
}

.menu-nav{
    width: 60vw;
}

.menu ul{
    display: flex;
    justify-content: flex-start;
    list-style: none;
}

.menu li{
    padding-right: 5%;
} 

.menu-sidenav-icon{
    display: none;
    font-size: 3em;
}
    
.aside {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30vw;
}

.mat-field mat-label{
    color: white;
}

 
.aside a:hover, .menu li:hover{
        color: #8ee487;
        text-shadow: 0.01em 0.1em 0.001em black;
}



.anime-name{
    position: absolute;

    padding:1%;  
 
    bottom: 0;
    right: 10vw;

    color: black;
    text-align: center;
    
    background-color: lightgray;
}

.anime-name:hover{
    text-decoration: underline;
}

//SIDENAV


.logo, .menu ul, .aside a, .anime-name, .menu-sidenav-icon {
    cursor: pointer;
}

//Menu de Opções *ESSA BUCETA NÃO ACEITA VALORES RELATIVOS*
@media(max-width: 815px){
    .mat-field{
        display: none;
    }
}

@media(max-width: 780px){
    .menu-nav, .logo{
        visibility: hidden;
    }
    .menu-sidenav-icon{
        display: block;
    }

}


