    <!--HEADER-->
    <div class="general-header">
        <!--COVER IMAGE-->
        <picture>
            <source srcset="assets/cover/FULLMETAL-ALCHEMIST-BROTHERHOOD-910px.jpg"
                    class="cover"
                    media="(max-width: 910px)">

            <img src="assets/cover/FULLMETAL ALCHEMIST BROTHERHOOD 1366px.jpg"
                 class="cover">
        </picture>
        <!--MENU-->
        <header class="header-menu">
            <section class="menu">
                <!--LOGO-->
                <picture>
                    <a routerLink="['/']">
                        <img src="assets/logo.png" 
                            class="logo">
                    </a>
                </picture>
                <!--MENU MOBILE-->
                <span (click)="openSideMenu($event)" class="material-icons menu-sidenav-icon">
                    view_headline
                </span>
                <!--MENU OPTIONS-->
                <div class="menu-nav">
                    <ul>
                        <li *ngFor="let m of menu">
                            <span routerLink="{{m.path}}">{{m.label}}</span>
                        </li>
                    </ul>
                </div>
                <!--LOGIN | SEARCH-->
                <aside class="aside">
                        <mat-form-field class="mat-field">
                            <mat-label>Search</mat-label>
                            <input matInput class="search" type="text" autocomplete="off">

                        </mat-form-field>
                        <div>
                            <a (click)="openDialogSignIn()">Login</a>
                        </div>
                </aside>
            </section>
        </header>
        <!-- ANIME NAME -->
        <span class="anime-name">
            <a>fullmetal alchemist: brotherhood </a>
        </span>


    </div>



