<div class="general-header" >
    <img src="{{background}}">
    <header class="header-menu">
        <section class="menu">
            <nav >
                <ul>
                    <li *ngFor="let item of headerMenu">
                        <a>{{item}}</a>
                    </li>
                </ul>
            </nav>

            <aside>
                    <a class="botao">Sign in</a>
                    <a class="botao signup">Sign up</a>
            </aside>
        </section>
    </header>
    <span class="anime-name">
        <a>CODE GEASS - HANGYAKY NO LELOUCH</a>
    </span>
</div>


<!-- style="background-image:url('{{background}}');" -->