.body{
    position: relative;
}

.cards-grid{
    display: grid;
    //MARGEM RELATIVA
    margin: 5vh 3vw;
    //GRID COM TEMPLATE AREAS
    grid-template-areas: 
    "card card card card"
    "card card card card"
    "card card card card"
    "card card card card";
    //ESPAÇAMENTO ESTRE AS GRIDS
    grid-column-gap: 1.5vw;
    grid-row-gap: 3vh;
    //ALINHAMENTO DAS CARDS
    // align-items: center;
    justify-content: center;
}

.card{
    position: relative;
    cursor: pointer;
    overflow: hidden;
    max-height: 160px; // <3
    //DESIGNAZAÇÃO DA GRID AREA
    grid-area: "card";
}
//NOTA: UM ELEMENTO PAI RELATIVE E UM ELEMENTO FILHO ABSOLUTE, O ABSOLUTE
//SE COMPORTARÁ DE FORMA ABSOLUTA LEVANDO EM CONTA O ELEMENTO PAI

.card-name {
    position: absolute;
    //Medidas   
    margin: 0;
    bottom: 0;
    padding: 3%;
    //Texto
    font-weight: bold;
    color: white;
    font-size: 1em;
    //Efeito
    // background-color: black;
    background-color: #2ead23;
    opacity: 0.8;
    text-shadow: 0.05em 0.2em 0.1em black;
    //text-shadow: x axis ; y axis ; esfumaçamento ; color
    //Largura
    width: 100%;
}

.mat-image, .card{
    max-width: 300px;
    min-width: 200px;
}

.card:hover{
    transform: scale(1.14);
}

@media(max-width: 1200px){
    .cards-grid{
        grid-template-areas:
        "card card card "
    }
}

@media(max-width: 910px){
    .cards-grid{
        grid-template-areas:
        "card card "
    }
}

@media(max-width: 600px){
        .cards-grid{
            grid-template-areas:
            "card"
        }
}






