<body class="body">
    <!-- <div class="release">
        <picture>
           -- > INSERT THE RELEASE HERE < --
        </picture>
        <article>
            
        </article>
    </div> -->
    <div class="cards-grid">

        <div class="card" *ngFor="let anime of animes"  routerLink="/profile/{{anime.id}}" target="_blank">
                <!-- ***COMO COLOCAR UMA ANCORA PARAR ID DO ANIME?***-->
            <a>
                <mat-card class="mat-card">
                    <mat-card-header>
                    <mat-card-title class="card-name">{{anime.name}}</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image class="mat-image"
                                        src="assets/cards/{{anime.imagePath}}"
                                        alt="{{anime.name}}">
                </mat-card>
            </a>
        </div>
    </div>
</body> 