<body class="body">
    <!-- <div class="release">
        <picture>

        </picture>
        <article>
            
        </article>
    </div> -->
    <div class="cards-grid">

        <div class="card" *ngFor="let anime of animes">
            <!-- COLOCAR UMA ANCORA AQUI-->
            <a>
                <mat-card class="mat-card">
                    <mat-card-header>
                    <mat-card-title class="card-name">{{anime.name}}</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image class="mat-image" src="data:image/jpg;base64,{{anime.cardPhoto}}" alt="{{card.name}}">

                    <!-- <div class="mat-actions">
                        <mat-card-actions class="buttons">
                            <button mat-button>ASSISTIR</button>
                            <button mat-button>COMPARTILHAR</button>
                        </mat-card-actions>
                    </div> -->
                </mat-card>

            </a>
        </div>
    </div>
</body> 