body{
    display:flex;
    align-content: center;
}

.cards-grid{
    display: grid;

    margin: 40px;
    width: calc(100% - 100px);

    grid-template-columns: repeat(4, 300px);
    grid-template-rows: repeat(4, 160px);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    
    align-items: center;
    justify-content: center;
}

.card{
    position: relative;
    text-transform: uppercase;
    cursor: pointer;
    height: 160px;
    width: 300px;
    overflow: hidden;

}
.card:hover{
    box-shadow: 10px 10px 10px 3px black;
    
}
.card:hover>img{
    width: 320px;
}
//NOTA: UM ELEMENTO PAI RELATIVE E UM ELEMENTO FILHO ABSOLUTE, O ABSOLUTE
//SE COMPORTARÁ DE FORMA ABSOLUTA LEVANDO EM CONTA O ELEMENTO PAI

.card-name {
    //Posicionamento
    position: absolute;
    margin:0;
    bottom: 0;
    padding: 10px 0 10px 10px;
    //Texto
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    font-size: 0.8em;
    //Efeito
    background-color: black;
    opacity: 0.7;
    //Largura
    width: 100vw;
}



