<form class="mat-form" [formGroup]="signUpForm">

  
    <h1 class="mat-title" mat-dialog-title>Cadastro</h1>


    <div mat-dialog-content class="mat-dialog-content">

<!-- 
          <div mat-error class="matErrorMessage" ngIf="errors" *ngFor="let erro of errors">
            {{erro}}
          </div> -->

        <mat-form-field class="mat-field" appearance="fill">
          <mat-label>Username</mat-label>
          <input type="name" matInput formControlName="username" placeholder="Ex. username123">
        </mat-form-field>


        <mat-form-field class="mat-field" appearance="fill">
          <mat-label>Senha</mat-label>
          <input type="password" formControlName="password" matInput  placeholder="******">
        </mat-form-field>


        <mat-form-field class="mat-field" appearance="fill">
          <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="email" placeholder="Ex. random@example.com">
        </mat-form-field>
                  <mat-error *ngFor="let erro of errors">{{erro}}</mat-error>
      </div>
 
      <div mat-dialog-actions class="mat-button">
        <button mat-raised-button  color="primary" 
                                   [disabled]="!signUpForm.valid" 
                                   (click)="onSubmit()">
                                   Sign Up
                                  </button>
        <button mat-button color="warn" (click)="closeModal()">Fechar</button>
      </div>
 
</form>
<!--  [disabled]="!signForm.valid"  -->
