<div class="example-form">
    <h1 mat-dialog-title>LOGIN</h1>

      <div mat-dialog-content>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Email</mat-label>
          <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Senha</mat-label>
          <input type="senha" matInput [formControl]="emailFormControl" placeholder="">
        </mat-form-field>
      </div>

      <div mat-dialog-actions>
        <button mat-raised-button color="warn" (click)="cancelar()">Fechar</button>
        <button mat-raised-button  color="primary" (click)="cancelar()">Login</button>
      </div>
</div>
